<section>

  <!-- <div class="col-sm-4 col-md-4">
    <a ng-repeat="quiz in vm.quizzes"
       ui-sref="admin.quizzes.edit({ quizId: quiz._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="quiz.created | date:'mediumDate'"></span>
        by
        <span ng-if="quiz.user" ng-bind="quiz.user.displayName"></span>
        <span ng-if="!quiz.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="quiz.name"></h4>
    </a>
  </div> -->

  <div class="container gallery-container">

    <div class="page-header">
      <h1 class="text-center" style="color: white;">Quizzes</h1>
    </div>

    <div class="tz-gallery">

      <div class="row">

        <div class="col-sm-6 col-md-3" ng-repeat="quiz in vm.quizzes">
          <div class="thumbnail">
            <a class="lightbox" ui-sref="quizzes.play({ quizId: quiz._id })">
                        <img src="/modules/core/client/img/home-img/banner1.jpg" alt="Park">
                    </a>
            <div class="caption">
              <h2 class="lead" ng-bind="quiz.name">{{quiz.name}}</h2>
              <p><b>Created By </b> : {{quiz.user.displayName}}</p>
              <p><b>Quiz Category</b> : {{quiz.quizCategory}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.quizzes.$resolved && !vm.quizzes.length">
      No Quizzes yet, why don't you <a ui-sref="quizzes.create">create one</a>?
    </div>
</section>
