<section>
  <div class="page-header">
    <h1 class="text-center" style="color: white;">Questions ({{vm.questions.length}})</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="question in vm.questions" ui-sref="admin.questions.edit({ questionId: question._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="question.created | date:'mediumDate'"></span>
        by
        <span ng-if="question.user" ng-bind="question.user.displayName"></span>
        <span ng-if="!question.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="question.question"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.questions.$resolved && !vm.questions.length">
    No Questions yet, why don't you <a ui-sref="admin.questions.create">create one</a>?
  </div>
</section>
