

.article-list-vertical{
    list-style:none;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding: 0;
}

.article-list-vertical li{
    display: block;
    box-sizing:border-box;
    border-radius: 3px;
    text-align: left;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    border:1px solid #cfcfcf;
    overflow: hidden;
    background-color: #fff;

    font: normal 13px sans-serif;

    margin-bottom: 40px;
    max-width: 575px;
}

/* Article photo */

.article-list-vertical li > a{
    float: left;
    width: 200px;
    height: 254px;
    display: block;

    background-size: cover;
}

.article-list-vertical li div{
    float: left;
    box-sizing: border-box;

    max-width: 350px;
    padding: 30px;
}

/* Article title */

.article-list-vertical li div h2{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
}

.article-list-vertical li div h2 a{
    color: #2b2b2b;
    text-decoration: none;
}

/* Article excerpt */

.article-list-vertical li div p{
    line-height: 20px;
    color: #5d5d5d;

    margin: 20px 0;
}

.article-list-vertical li a.read-more{
    background-color: #87bcd7;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 2px;
    margin: 20px 0;
    font-weight: bold;
}

@media (max-width: 600px){

    .article-list-vertical{
        max-width: 350px;
    }

    .article-list-vertical li{
        max-width: 325px;
    }

    .article-list-vertical li > a{
        float: none;
        width: 100%;
    }

    .article-list-vertical li div{
        float: none;
        padding: 30px;
    }

}
