<section>



  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="container-fluid">
        <div>
          <img src="/modules/core/client/img/home-img/banner2.jpg" style="height:auto; width: auto;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 2em;
      margin-top: 40px;
      box-shadow:2px 20px 20px 20px black;" class="img-responsive">
        </div>
      </div>
      <br>
      <br>
    </div>


  </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-md-12">

        <button type="button" name="button" class="btn btn-info btn-block" ui-sref="exams.list"><b>Click here for Available Exams </b></button>

    </div>
  </div>

  <br>
  <br>

</section>
