<section>
  <div class="well well-sm page-header ">
    <h1 class="text-center" style="color: black;">{{vm.segment._id ? 'Edit Segment' : 'New Segment'}}</h1>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg" style="background-image: url('/modules/core/client/img/home-img/bg-img2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                color: black ;
                box-shadow:20px 20px 20px black;">
      <form name="vm.form.questionForm" class="form-horizontal" ng-submit="vm.save(vm.form.questionForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <p class="lead text-center">Segment Name</p>
            <input name="name" type="text" ng-model="vm.segment.name" id="name" class="form-control" placeholder="Enter Segment Name" required>
            <div ng-messages="vm.form.segmentForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Segment name is required.</p>
            </div>
          </div>
          <div class="checkbox">
            <label><input type="checkbox"ng-model="vm.segment.isMinusMarking" value="True">Allow Minus Marking for the segment</label>
          </div>
          <div class="form-group">
            <p class="lead text-center">Time Limit</p>
            <input type="Number" name="timeLimit" data-ng-model="vm.segment.time_limit" id="timeLimit" class="form-control" cols="30" rows="10" placeholder="enter time limit (in Minutes)"></input>
          </div>
          <div class="form-group">
            <p class="lead text-center">How do u want to add Questions into Segment : </p>
            <div>
              <select name="type" ng-model="vm.selection" required>
            <option ng-option value="RANDOM">Randomly</option>
            <option ng-option value="MANUAL">Manually</option>
            </select>
            </div>
          </div>
          <div class="" ng-if="vm.selection === 'RANDOM'" ng-hide="vm.showAddedRandom" >
            <div class="form-group" >
              <p class="lead text-center">How many Questions : </p>
              <input type="Number" name="timeLimit" data-ng-model="vm.randomSelect" id="randomSelect" class="form-control" placeholder="How many questions you want to add ?"></input>
            </div>
            <button type="button" ng-click=vm.addRandom(vm.randomSelect) name="button">Add Questions</button>
          </div>
          <div class="alert alert-warning text-center" ng-show="vm.showAddedRandom">
            Questions Added
          </div>
          <div class="form-group" ng-if="vm.selection === 'MANUAL'">
            <p class="lead text-center">Add Questions</p>
            <!-- <div ng-dropdown-multiselect="" options="example1data" selected-model="vm.segment.questions" extra-settings="exampleSettings"></div> -->
            <multiselect ng-model="vm.segment.questions" options="vm.options" show-search="true" id-prop="_id" display-prop="question">
            </multiselect>
          </div>

          <!-- <div class="form-group">
            <p class="lead text-center">Select Difficulty Level</p>
            <select ng-options="x.difficulty_level for x in vm.difficultyLevel" class="form-control" ng-model="vm.selected_difficulty_level"></select>
          </div> -->
          <div class="form-group">
            <p class="lead text-center">Select Category</p>
            <select ng-options="x.category for x in vm.categories" class="form-control" ng-model="vm.selected_category"></select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg">{{vm.segment._id ? 'Update' : 'Create'}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</section>

<br>
<br>
<br>
