<section>

  <div class="container gallery-container">

    <div class="page-header">
      <h1 class="text-center" style="color: black;">Segments</h1>
    </div>

    <div class="tz-gallery">

      <div class="row">

        <div class="col-sm-6 col-md-3" ng-repeat="segment in vm.segments">
          <div class="thumbnail">
            <a class="lightbox" ui-sref="admin.segments.edit({ segmentId: segment._id })">
                        <img src="/modules/core/client/img/home-img/banner1.jpg" alt="Park">
                    </a>
            <div class="caption">
              <h2 class="lead" ng-bind="segment.name">{{segment.name}}</h2>
              <p><b>Created By </b> : {{segment.user.displayName}}</p>
              <p><b>Segment Category</b> : {{segment.category}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.segments.$resolved && !vm.segments.length">
      No Segments yet, why don't you <a ui-sref="segments.create">create one</a>?
    </div>
</section>
