
<section>

  <div class="container gallery-container">

    <div class="page-header">
      <h1 class="text-center" style="color: black;">Exams</h1>
    </div>
    <div class="tz-gallery">

      <div class="row">

        <div class="col-sm-6 col-md-3" ng-repeat="exam in vm.exams">
          <div class="thumbnail">
            <a class="lightbox" ui-sref="exams.start({ examId: exam._id })">
                        <img src="/modules/core/client/img/home-img/banner1.jpg" alt="Park">
                    </a>
            <div class="caption">
              <h2 class="lead">{{exam.name}}</h2>
              <p><b>Created By </b> : {{exam.user.displayName}}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>
