<section>


<div class="">
  <h2 class="text-center text-success">{{vm.segment.name}}</h1>
</div>

<hr>

<!-- Attach the quizCtrl to the view and ng-show when the quizActive flag is set -->
<div>
  <div class="row">
    <div class="col-xs-8">
      <h3 class="text-info">Progress:</h3>
      <div class="btn-toolbar">

        <button class="btn"
         ng-repeat="question in vm.segment.questions"
         ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
         ng-click="vm.setActiveQuestion($index)">
                      <!-- display glyphicons -->
                      <!-- ng-class to style glypicons -->
                        <span class="glyphicon"
                            ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null}"></span>
                    </button>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <h4>Legend:</h4>
        <div class="col-sm-4">
          <button class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
          <p>Answered</p>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
          <p>Unanswered</p>
        </div>
      </div>
    </div>
  </div>
  <!-- progress area -->

  <div class="row">
    <div class="alert alert-danger" ng-show="quiz.error">
      Error! You have not answered all of the questions!
      <button class="close" ng-click="quiz.error = false">&times</button>
    </div>
    <h3>Question:</h3>
    <div class="well well-sm" ng-hide="quiz.finalise">
      <div class="row">
        <div class="col-xs-12">

          <h4>{{vm.activeQuestion + 1 + ". " + vm.segment.questions[vm.activeQuestion].question}}</h4>

          <!-- <div class="row">
            <div class="col-sm-6" ng-repeat="option in vm.segment.questions[vm.activeQuestion].options">
              <h4 class="answer" ng-class="{'bg-info': $index === vm.segment.questions[vm.activeQuestion].selected}" ng-click="vm.selectAnswer($index)">
                                    {{option.option}}
              </h4>
            </div>
          </div> -->

          <div class="row text-left options">
             <div class="col-sm-6" ng-repeat="option in vm.segment.questions[vm.activeQuestion].options">
                 <div class="option">
                     <label class="" for="{{option._id}}">
                         <input id="{{option._id}}" type="checkbox" ng-model="option.Selected" ng-click="vm.selectAnswer($index)" />
                         {{option.option}}
                     </label>
                 </div>
             </div>
</div>
          <!-- notice the ng-if being used again -->
          <!-- only the below section or the above section will display, never both -->
          <!-- this will depend on if the current question is set to image or text -->
          <!-- <div class="row" ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'image'"> -->
            <!-- more bootstrap and another ng-repeat, this time looping through the possible answers -->
            <!-- <div class="col-sm-6" ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">
              <div class="image-answer" ng-class="{'image-selected': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}" ng-click="quiz.selectAnswer($index)">
                <img ng-src="{{answer.answer}}">
              </div>
            </div>
          </div> -->


        </div>
      </div>
      <!-- ng-click will call the questionAnswered method on the controller -->
      <button class="btn btn-warning" ng-click="vm.questionAnswered()">Continue</button>
    </div>
</section>
