<section>
  <div class="page-header">
    <h1 ng-bind="vm.exam.name" class="text-center"></h1>
  </div>
  <ul class="article-list-vertical" ng-repeat="segment in vm.exam.segments">

    <li>
      <a href="#" style="background-image: url('/modules/core/client/img/home-img/bg-img8.jpg');"></a>
      <div>
        <h2><a><b>{{segment.name}}</b></a></h2>
        <p><strong>Category</strong> : {{segment.category}}</p>
        <p><strong>Time Limit</strong> : {{segment.time_limit}} Mins</p>
        <p ng-show="segment.isMinusMarking"><strong>Minus Marking</strong> : 1 Mark </p>
        <a ng-click="vm.startExamSegment($index)" class="read-more">Start &rarr;</a>
      </div>
    </li>

  </ul>



</section>
