<section>
  <div class="page-header">
    <h1 ng-bind="vm.exam.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.exam.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="exams.edit({ examId: vm.exam._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.exam.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.exam.user"
            ng-bind="vm.exam.user.displayName"></span>
      <span ng-if="!vm.exam.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.exam.content"></p>
</section>
