<section>
  <div class="well well-sm page-header ">
    <h1 class="text-center" style="color: black;">{{vm.exam._id ? 'Edit Exam' : 'New Exam'}}</h1>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg" style="background-image: url('/modules/core/client/img/home-img/bg-img2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                color: black ;
                box-shadow:20px 20px 20px black;">
      <form name="vm.form.questionForm" class="form-horizontal" ng-submit="vm.save(vm.form.questionForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group" show-errors>
            <p class="lead text-center">Exam Name</p>
            <input name="exam" type="text" ng-model="vm.exam.name" id="exam" class="form-control" placeholder="Enter Exam Name" required>
            <div ng-messages="vm.form.examForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Exam name is required.</p>
            </div>
          </div>
          <div class="form-group" >
            <p class="lead text-center">Add Segments</p>
            <!-- <div ng-dropdown-multiselect="" options="example1data" selected-model="vm.exam.questions" extra-settings="exampleSettings"></div> -->
            <multiselect ng-model="vm.exam.segments" options="vm.options" show-search="true" id-prop="_id" display-prop="name">
            </multiselect>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg">{{vm.exam._id ? 'Update' : 'Create'}}</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</section>

<br>
<br>
<br>
