<section>
  <div class="page-header">
    <h1>Segments</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="segment in vm.segments"
       ui-sref="segments.view({ segmentId: segment._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="segment.created | date:'mediumDate'"></span>
        by
        <span ng-if="segment.user" ng-bind="segment.user.displayName"></span>
        <span ng-if="!segment.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="segment.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.segments.$resolved && !vm.segments.length">
    No Segments yet, why don't you <a ui-sref="segments.create">create one</a>?
  </div>
</section>
