<section>
  <div class="page-header">
    <h1 ng-bind="vm.segment.name"></h1>
  </div>
  <div class="pull-right" ng-show="vm.segment.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="segments.edit({ segmentId: vm.segment._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.segment.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.segment.user"
            ng-bind="vm.segment.user.displayName"></span>
      <span ng-if="!vm.segment.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.segment.content"></p>
</section>
